body{
  text-align: center;
  background-color:	#778899;
}

/* disable double tap zoom */
button{
  touch-action: manipulation;
}

h1{
  font-family: 'Press Start 2P', cursive;
  font-weight: bolder;
  font-size: 3rem;
  color: 	#c0c0c0;
}

p{
  font-family: 'Press Start 2P', cursive;
  font-size: 0.75rem;
  color: 	#c0c0c0;
  margin: 0;
  padding-top: 2%;
}

.container{
  padding: 5% 0 0 0;
  margin: auto;
}


.square-buttons{
  margin: auto;
  padding: 3% 0 0 0;
}

.creator{
  margin: auto;
  padding: 0;
}

.btn{
  width: 12rem;
  height: 12rem;
  border-radius: 85%;
  border-color:	#2f4f4f;
  border-width: 10px;
}

@media (max-width: 1199px) {

    .btn{
      width: 8.5rem;
      height: 8.5rem;
      border-radius: 85%;
      border-color:	#2f4f4f;
      border-width: 8px;
    }
}

@media (max-width: 770px) {

    .btn{
      width: 12rem;
      height: 12rem;
      border-radius: 85%;
      border-color:	#2f4f4f;
      border-width: 6px;
    }
}

@media (max-width: 770px) {

    .btn{
      width: 12rem;
      height: 12rem;
      border-radius: 85%;
      border-color:	#2f4f4f;
      border-width: 8px;
    }
}

@media (max-width: 580px) {

    .btn{
      width: 12rem;
      height: 12rem;
      border-radius: 85%;
      border-color:	#2f4f4f;
      border-width: 8px;
    }
}


.pressed {
  box-shadow: 0 3px 5px 0 #fff;
  opacity: 0.5;
}

#a{
  margin: 5%;
  background-color: #00ff00;
}

#b{
  margin: 5%;
  background-color: 	#ff0000;
}

#c{
  margin: 5%;
  background-color: #ffff00;
}

#d{
  margin: 5%;
  background-color: #0000ff;
}

.footer{
  margin: auto;
}
